html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

body{
	background: url("../img/space.png");
}

.invader, .bullet {
	background: url("../img/spaceships_galaga.png") no-repeat top left;
}

.spaceship{
	background: url("../img/spaceship.png") no-repeat top left;
	background-size: cover;
	width: 70px;
	height: 70px;
	bottom: 0;
	position: absolute;
	left: 50%;
	margin-left: -64px;
}

.bullet{
	width: 32px;
	height: 32px;
	display: none;
	/*background-position: 0 -547px;*/
	background: white;
	position: absolute;
}

.invader{
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0;
}

.clamps{
	background-position: 0 -133px;
}

.donbot{
	background-position: 0 -202px;
}

.futurama{
	background-position: 0 -271px;
}

.morbo{
	background-position: 0 -340px;
}

.nibbler{
	background-position: 0 -409px;
}